*.html linguist-vendored
**/*.html linguist-vendored
*.js linguist-vendored
**/*.js linguist-vendored
*.css linguist-vendored
**/*.css linguist-vendored
**/*.g4 linguist-language=ANTLR
*.g4 linguist-language=ANTLR
**/*.g linguist-language=Parserlib
*.g linguist-language=Parserlib
